.CSVReader {
  color: transparent;
  position: absolute;
  /* z-index: -1; */
}

.ItemGroup:hover {
  cursor: pointer;
}

.ItemGroup {
  display: flex;
  justify-content: space-between;
}

.JumboClass {
  padding-left: 20px;
}
